@model IndexViewModel

@{
    ViewData["Title"] = "News";
}
@*<h2>@ViewData["Title"]</h2>*@

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="~/css/lib/jquery-ui.css" rel="stylesheet" />
<link href="~/css/lib/bootstrap.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />
<link href="~/css/news.css" rel="stylesheet" />

<div class="body" style="width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm" style="background-color: antiquewhite; height: 100%;">
                <div class="news-category main-nav">
                    <ul class="menu-parent">
                        @foreach (var category in Model.Categories)
                        {
                            <li class="nav-item">
                                <a class="label-item" asp-controller="Home" asp-action="Category" asp-route-category="@category.Name">
                                    <div class="icon-nav">
                                        @* Icons go here. However there need to be a place to store these icons first.*@
                                        @*<i class="fas fa-rss-square icon-size"></i>*@
                                    </div>
                                    <div class="label-item">
                                        #@category.Name
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>  @*end news-category*@
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                @*<div class="box-user">
            <div class="box-user-detail">
                <i class="fas fa-user-circle icon-size" style="font-size: 18px;"></i>
                <a style="cursor: pointer"><span id="username"></span></a>
            </div>
            <div class="your-question">
                <h4 style="cursor: pointer"><a>What is your question?</a></h4>
            </div>
        </div>*@

                <div class="news-main">
                    <ul class="news-main-parent">
                        @foreach (var questionView in Model.QuestionsAndAnswers)
                        {
                            <li class="news-main-item">
                                <div question-id=@questionView.Id question-liked=@questionView.Liked class="question-title">
                                    <a class="question-link" asp-controller="Home" asp-action="Question" asp-route-id="@questionView.Id">
                                        <h4>@questionView.Title</h4>
                                    </a>

                                    <div class="answer-body">
                                        @*@questionView.FirstAnswer?.Content*@
                                        @questionView.Content
                                        <span>(<a style="color: #0030e8;" class="question-link" asp-controller="Home" asp-action="Question" asp-route-id="@questionView.Id">more</a>)</span>
                                    </div>
                                </div>

                                <div class="author-question">
                                    <span>By:</span>
                                    <span class="ask-by">@questionView.UserName</span>
                                    <span>Time: </span>
                                    <span class="ask-time">@questionView.DateCreated</span>
                                    @if (!string.IsNullOrWhiteSpace(@questionView.Category))
                                    {
                                        <span class="question-category">#@questionView.Category</span>
                                    }


                                </div>
                                <div class="icon-action-bar">
                                    <div class="action-bar-inner">
                                        <a style="text-decoration: none; color: #000" asp-controller="Home" asp-action="Question" asp-route-id="@questionView.Id"><div class="action-btn btn-answer"><i class="fas fa-pen-square"></i><span>Answer</span></div></a>
                                        @*<div class="action-btn btn-follow"><i class="fas fa-rss"></i><span>Follow</span></div>*@
                                        <div class="action-btn btn-upvote"><i class="far fa-thumbs-up"></i><span class="nbUpvote">@questionView.UpvoteCount</span><span> Upvote</span></div>
                                        @*<div class="action-btn btn-downvote"><i class="far fa-thumbs-down"></i><span>Downvote</span></div>*@
                                        @*<div class="social-network">
                                    <i class="fab fa-js icon-social-network"></i>
                                    <i class="fab fa-python icon-social-network"></i>
                                    <i class="fab fa-java icon-social-network"></i>
                                </div>*@
                                    </div>
                                </div>
                            </li> @*end news item*@
                        }
                    </ul>
                </div>  @*end news-category*@
            </div>
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3" style="background-color: yellow; height: 100%;">


            </div>
        </div>
    </div>
    @*end container*@

</div>

<script src="~/js/lib/jquery-3.4.1.js"></script>
<script src="~/js/lib/jquery-ui.js"></script>
<script src="~/js/common/common.js"></script>
<script src="~/js/View/news.js"></script>
<script src="~/js/View/category.js"></script>