@model IEnumerable<QuestionViewModel>

@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StyleSheets {
    <link href="~/css/question_styles.css" rel="stylesheet" />
}
<div class="row">
    <div id="main-section">
        @foreach (var qs in Model)
        {
            <div class="question-container page-header">

                <!--Topic bar-->
                <div class="topic-bar">
                    <div class="topic-tag">
                        <a href="#">Lifestyle</a>
                    </div>

                    <div class="topic-tag">
                        <a href="#">Lifestyle</a>
                    </div>

                    <div class="topic-tag">
                        <a href="#">Lifestyle</a>
                    </div>
                </div>

                <!--Question content-->
                <div class="question-content">
                    <div>
                        <div>
                            <h1 class="question-content-text">Question: @qs.Title </h1>
                            <div class="question-info">
                                <div class="poster">
                                    <small>by <strong>@qs.UserName</strong> on @qs.DateCreated</small>
                                </div>

                                <h3><strong>@qs.Answer.Count() answers</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var answer in qs.Answer)
            {
                <div class="page-header">
                    <h3>Answer by<strong>  @answer.UserName </strong></h3>
                    <div class="poster">
                        <small>Posted on 30/03/2019</small>
                    </div>
                    <p>
                        @answer.Content
                    </p>
                    <div class="utility">
                        <ul>
                            <li><a href="#">Up Vote</a></li>
                            <li><a href="#">Comment</a></li>
                            <li><a href="#">Share</a></li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {

}

