@model QuestionViewModel

@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StyleSheets {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/css/lib/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/lib/bootstrap.css" rel="stylesheet" />
    <link href="~/css/question_styles.css" rel="stylesheet" />
}
<div class="row">
    <div id="main-section">
        <div class="question-container page-header">

            <!--Topic bar-->
            <div class="topic-bar">
                <div class="topic-tag">
                    <a href="#">@Model.CategoryName</a>
                </div>
            </div>

            <!--Question content-->
            <div class="question-content">
                <div>
                    <div>
                        <h1 class="question-content-text">Question: @Model.Title </h1>
                        <div class="question-info">
                            <div class="poster">
                                <small>by <strong>@Model.UserName</strong> on @Model.DateCreated</small>
                            </div>

                            <h3><strong>@Model.Answer.Count() answers</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var answer in Model.Answer)
            {
                <div class="page-header">
                    <h3>Answer by<strong>  @answer.UserName </strong></h3>
                    <div class="poster">
                        <small>Posted on 30/03/2019</small>
                    </div>
                    <p>
                        @answer.Content
                    </p>

                    <div class="utility">
                        <ul>
                            <li><span class="action-btn btn-upvote"><i class="far fa-thumbs-up"></i><span class="nbUpvote">1000</span><span> Upvote</span></span></li>
                            <li><a href="#">Comment</a></li>
                            <li><a href="#">Share</a></li>
                        </ul>
                    </div>
                </div>
            }
            <!--Answer box-->
            <hr>
            <div class="form-container">
                <form action="/" method="post">
                    <div class="form-group">
                        <label><h3><strong>Your Answer</strong></h3></label>
                        <textarea class="form-control" placeholder="Enter your answer" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit-answer-btn" value="Submit" class="btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {

    }

